body {
  background-color: var(--background-color);
  margin-bottom: 75px;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1rem;
}

/* Social Icons */
p.social a {
  margin: 0 0 10px 0;
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: none;
  line-height: 30px;
  font-size: 25px;
  text-align: center;
  vertical-align: bottom;
  color: #999999;
  transition: all 0.2s ease-out;

  &:hover {
    color: #fff;
  }
}

// List styling
ol li::before {
  content: none;
}

li {
  margin: 0 0 calc(var(--global-line-height) / 4);
  &::after {
    color: var(--font-color);
    content: counters(item, ".") ". ";
    counter-increment: item;
  }
}

.footnotes p,
.footnotes em,
.footnotes strong {
  color: var(--secondary-color);
}

p code {
  background-color: var(--code-bg-color);
  border: var(--secondary-color) 1px solid;
  border-radius: 3px;
  padding: 0 0.2em 0 0.2em;
}

code::after,
code::before {
  display: none;
}
