/* Google Sans Code */
@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/GoogleSansCode-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/GoogleSansCode-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/GoogleSansCode-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/GoogleSansCode-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* EB Garamond */
@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}