h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-stack);
  clear: both;
  margin-bottom: 0em;
}


.label {
  font-family: var(--font-stack);
}

blockquote::after {
    content: none;
}

blockquote {
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
}