:root {
  /* Colors */
  --background-color: #1a1a1a;
  --font-color: #cfcfcf;
  --invert-font-color: #222225;
  --secondary-color: #a3abba;
  --tertiary-color: #a3abba;
  --primary-color: #29b4ff;
  --error-color: #ff3c74;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: #29b4ff;
  --code-bg-color: #222225;
  --global-font-color: #444;

  /* Typography */
  --font-stack: "Google Sans Code", monospace;
  --global-font-size: 17px;

  --mono-font-stack: "Google Sans Code", monospace;
  --mono-font-size: var(--global-font-size);

  --serif-font-stack: "EB Garamond", serif;
  --serif-font-size: calc(var(--global-font-size) * 1.2);

  --sans-font-stack: "Source Sans 3", sans-serif;
  --sans-font-size: calc(var(--global-font-size) * 1.25);

  --global-line-height: 1.7em;

  --page-width: 800px;

  /* h1 underlines */
  --display-h1-decoration: 1;
}

@media only screen and (max-width: 850px) {
  :root {
    --global-font-size: 16px;
  }
}
