.btn-ghost {
  color: #666;
  background-color: transparent;
  border-color: #333;
  font-weight: 400;
  font-family: var(--font-stack);
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.55;
  border-radius: 0;
  margin-left: 0;
  margin-top: 5px;
}