{{ define "main" }}

</br>
<p class="mono">A place for me to write. See the <a href="/about">about</a> section for more details.</p>

<h1>Latest posts</h1>
<br/>
<div class="posts-list">
{{ $posts := where site.RegularPages "Section" "posts" }}
{{ $posts = where $posts ".Params.private" "!=" true }}
{{ range first 3 (sort $posts "Date" "desc") }}
        <div class="post">
            <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
            <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | truncate 40}}</a></h2>
            {{ partial "taglist.html" . }}
            <p class="summary">{{ .Summary }}</p>
        </div>    
    {{ end }}
</div>

{{ end }}