.footer {
  clear: both;
  margin-top: 100px;
  padding-top: 10px;
  border-top: 1px solid var(--secondary-color);
  color: var(--global-font-color);

  @media only screen and (max-width: 850px) {
    margin-top: 50px;
    padding-top: 5px;
  }
}